.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
.wich-album {
  display:none;
  top: 100px;
  position:fixed;
    Width:500px;
    height:500px;
    background:red;
}


