.app-menu {
    padding: 8px;
    width: 400px;
    height:35px;
    margin: 0px;
    border: 1px solid #ccc;
    border-bottom-right-radius:11px ;
    border-top-right-radius: 11px;
    font-size: 12px;
    top:5px;
    background-color: rgb(54, 27, 27);}
  
  
      .app-menu-content {
          font-size: 12px;
          color: white;
          margin: 10px;
          }
          .app-menu-content:hover{
              color: rgb(204, 19, 19); }
          

