.expand {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  overflow: auto;
  text-align: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.expand-image {
  margin: 0 auto;
  display: block;
  height: 60%;
  width: auto;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.expand-image, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scaleX(1)
  }
}

.expand-icons-box {
  position: absolute;
  top: 40px;
  left: 200px;
  padding: 6px;
  width: 200px;
  height: 320px;
  margin: 5px;
}


.expand-icons {
   position:relative;
  //top: 20px;
  border: 1px solid #ccc;
  padding: 6px;
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: rgba(252, 250, 250, 0.3);
  border-radius: 5px;
}

.expand-icons:hover {
  border: 0px solid #ccc;
}

.rotate-active {
  display:none;
  position: absolute;
  top: 10px;
  border: 1px solid #ccc;
  left:10px;
  float:left;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin: 8px;
  background-color: rgba(252, 250, 250, 0.3);
  border-radius: 5px;
}
