.album-root {
  background-size: cover;
  background-position: center center;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 5px solid ;
  border-color:wheat;
  border-radius:11px;
  position: relative;
  
}
.album-root:hover {
  border: 2.5px solid;
  border-color: wheat;
}

.album-name {
  box-sizing: border-box;
  background-size: cover;
  //background-position: center center;
  position: absolute;
  font-size: 18px;
  text-align: center;
  border: 1px solid;
  border-color: wheat;
  border-radius:14px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color:dimgrey;
}
