.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 11px;
    //text-align: center;
   // text-align: center;
    //box-sizing: border-box;
   // white-space: pre;
    //display: flex;
    //align-items: center;
    justify-content: center;
  }

  > div > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    color: red;
    padding: 10px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    //align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  &:hover > div >div {
    visibility: visible;
  }


  .image-icon {
    font-size: 18px;
    vertical-align: middle;
    height:30px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    margin: 5px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}
