.frame-preferences {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0px;
  top: 100px;
  //height: 300px;
  //overflow-x: auto;
  //right: 60px;
  height: 400px;
  right: 0px;
  //height: 500px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: white;
}
.fp-content {
  margin: 30px;
  height: auto;
  width: 95%;
  border: 1px solid #ccc;
  
  //background-color: black;
}

.fp-inner {
  position: absolute;
  top: 30px;
  width: 95%;
  height: auto;
  
}
